.well
  .page-header: h1 #{name}

  .row-fluid
    .span12
      table#datagrid.table.table-striped.table-bordered.table-condensed(cellpadding="0", cellspacing="0", border="0")
        thead
          tr
            th Id
            th Size
            th Created
            th Document
            th Actions
        tbody
          each document in documents
            tr(id="#{document._id}-row")
              td(id="#{document._id}-id") #{document._id}
              td(id="#{document._id}-size") #{document.size}
              td(id="#{document._id}-created") #{document.created}
              td: pre.crop.dataPreview(id="#{document._id}-value") #{document.value}
              td(id="#{document._id}-actions")
                a(id="#{document._id}-edit", href="#/edit/#{name}/#{document._id}", title="Edit")
                  i.icon-edit.icon-white
                a(id="#{document._id}-delete", href="#/delete/#{name}/#{document._id}/#{document.nativeId}", title="Delete")
                  i.icon-trash.icon-white