.well.sidebar-nav
  ul.nav.nav-list
    li
      a(href="#/rename/#{name}")
        i.icon-pencil.icon-white
        | Rename
    li
      a(href="#/empty/#{name}")
        i.icon-trash.icon-white
        | Empty
    li
      a(href="#/drop/#{name}")
        i.icon-fire.icon-white
        | Drop
    li.divider
    li
      a(href="#/insert/#{name}")
        i.icon-asterisk.icon-white
        | Insert
    li
      a(href="#/find/#{name}")
        i.icon-search.icon-white
        | Find
    li
      a(href="#/mapReduce/#{name}")
        i.icon-filter.icon-white
        | Map Reduce
    li
      a(href="#/aggregate/#{name}")
        i.icon-tasks.icon-white
        | Aggregate